@import "./global.css";
@import "./fonts.css";
@import "./utils.css";

.test {
    color: yellow !important;
}

.test {
    color: red !important;
}

body {
    font-family: "Inter", sans-serif;
}

/**/

/* Шапка сайта. Элемент хлебных крошек */
.breadcrumps {
    display: flex;
    padding: 10px 0; /*отступ сверху и снизу*/
}
.breadcrumps_item {
    display: inline-block; 
    text-decoration: none; /*удаляет подчёркивания у ссылкок*/
    color: #1F3F68; /*цвет текста*/
    background-color: #7da4d1; /*фоновый цвет*/
    background: linear-gradient(to bottom, #FFFFFF, #7da4d1); /*цветопереход вверх от и до*/
    margin-right: -15px; /*отступ справа (влево получается), чтобы соеденить 2 фона в 1*/
    font-size: 14px; /*размер шрифта*/

    padding: 8px 25px; /*делает рамку шире (высота  ширина)*/

    border-right: 2px solid #000000;
    /*Закругление (границы одной вкладки) сверху и снизу*/
    border-top-right-radius: 25px 40px;
    border-bottom-right-radius: 25px 40px;
    box-shadow: 2px 0 2px #494949;

}

/*настройка слоёв, 1й слой над 2м над 3м ...*/
.breadcrumps_item:nth-child(1) { z-index: 5; }
.breadcrumps_item:nth-child(2) { z-index: 4; }
.breadcrumps_item:nth-child(3) { z-index: 3; }

.breadcrumps_item.active { /*текущая (активная) вкладка*/
    font-weight: bold;
}

.breadcrumps_separator {
    color: #000000; /*цвет сепаратора ")"*/
    margin: 0 5px; /*отступ слева и справа*/
    font-size: 18;
}

/**/

/*шрифт италик*/
.text-italic {
    font-style: italic;
}

/* Параграфы */
.paragraph {
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
}

/* Стиль в классе title-main (h1) */
.title-main {
    font-size: 64px;
    color: #1F3F68;
}

/* Стиль в классе contacts-title (h2) */
.contacts-title {
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}

/* Стиль в классе title-sub (h3) */
.title-sub {
    font-size: 36px;
    text-align: center;
}

/* Стиль в классе title-section (h4) */
.title-section {
    font-size: 20px;
    line-height: 30px;
    color: #1F3F68;
}

/* Для всех полей ввода (input, textarea). Класс и стиль соотв.-но */
.form-input {
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}
/* Форма на страницы “Контакты”. Изображение на задний фон */
.contacts-form-container {
    padding: 20px;
    background-image: url('WEB1_wallpapers.jpg'); 
    background-color: #FFFFFF; /* На случай, если картинка не подгрузится - будет стоять фон этого цвета */
}

/* Кнопке отправки формы*/
.button-submit {
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
}